@import "global.scss";
@import "variables.scss";
@import "blocks/loading-spinner.scss";
@import "blocks/content.scss";
@import "blocks/controls.scss";

.loading {
  position: fixed;
  z-index: 10;
  top: 300px;
  left: calc(50% - 300px);
  font-size: 80px;
  width: 600px;
  color: red;
  background-color: white;
}
