.controls {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.controls__btn {
  width: 250px;
  
  font-size: 30px;
  color: #ffffff;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  outline: none;

  &--generate {
    width: 400px;
    margin-bottom: 30px;
    background-color: #469105;

    &:hover {
      background-color: #427516;
    }
    
    &:active {
      opacity: 0.3;
    }
  }

  &--save {
    display: inline-block;
    text-align: center;
    margin-top: 30px;

    background-color: rgb(4, 121, 156);
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
    
    &:active {
      opacity: 0.3;
    }
  }

  &--clear {
    margin-top: 30px;

    background-color: red;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
    
    &:active {
      opacity: 0.3;
    }
  }
}

.controls-wrapper {
  width: 300px;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 25px;
}

#angle {
  font-weight: bold;

  border: 0;
  background: transparent;
}